<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2021_wedge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2021_Wedge">
        <activity
            android:name=".MyPageFrag.onetalking"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_onetalking"
            android:theme="@style/Theme.2021_Wedge.Fullscreen" />
        <activity
            android:name=".enterPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_enter_page"
            android:theme="@style/Theme.2021_Wedge.Fullscreen" />
        <activity android:name=".First.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".First.join" />
        <activity android:name=".First.Login" />
        <activity android:name=".bottomBar.MainActivity" />
        <activity android:name=".MyPageFrag.NoticeActivity" />
        <activity android:name=".MyPageFrag.FAQActivity" />
        <activity android:name=".MyPageFrag.SetActivity" />
        <activity android:name=".MyPageFrag.FavoriteStoreActivity" />
        <activity android:name=".MyPageFrag.PersonalInfoActivity" />
        <activity android:name=".MyPageFrag.Potato.GrowingPotatoActivity" />
        <activity android:name=".MyPageFrag.Potato.TotalPotato" />
        <activity android:name=".MyPageFrag.gymrestaurant" />
        <activity android:name=".MyPageFrag.Potato.LevelupPotato1" />
        <activity android:name=".MyPageFrag.Potato.LevelupPotato2" />
    </application>

</manifest>